.btn-refresh {
  padding: 10px;
  font-size: 18px;
  outline: none;
  border: 2px solid black;
  background-color: white;
  color: white;
  position: relative;
  letter-spacing: 1px;
  margin-top: 20px;
}

.btn-refresh::before {
  content: "Recargar";
  /*Button's value/text-content */
  position: absolute;
  top: -14%;
  left: 7%;
  background-color: black;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.15s ease-in-out;
  font-weight: bold;
}

.btn-refresh:active:before {
  top: 0;
  left: 0;
}
