.container {
  width: 100vw;
  min-height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title-app {
  grid-area: titleApp;
}
.search {
  grid-area: searchInput;
}
.weather-main {
  grid-area: currentWeather;
}
.today {
  grid-area: today;
}
.this-week {
  grid-area: thisWeek;
}
.other-cities {
  grid-area: otherCities;
}
.footer {
  grid-area: footer;
}
