.other-cities {
  display: flex;
  flex-direction: column;
}
.cities--item {
  width: 100%;
  height: 150px;
  position: relative;
  border-radius: 15px;
  margin-bottom: 10px;
}
.cities--item:last-child{
  margin-bottom: 0;
}
.cities-item--bg {
  object-fit: fill;
  border-radius: 15px;
  width: inherit;
  height: 150px;
}
.cities-item--info {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  font-size: 1.2em;
  position: absolute;
  top: 10px;
  left: 10px;
}
.cities-item--name, 
.cities-item--temp {
  color: #fff;
}
.cities--item .subtitle-1 {
  color: #CED4DA;
}
.cities-item--temp {
  font-size: 2em;
  position: absolute;
  top: 6px;
  right: 10px;
}