.container-search{
  width: 100%;
}
.box-search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #889696;
  background-color: #fff;
  border: 1px solid #889696;
  padding: 12px;
  border-radius: 8px;
}
.border-bottom {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.box-search--icon {
  font-size: 22px;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #889696;
  cursor: pointer;
}
.box-search--icon:hover {
  color: #fff;
  background-color: #889696;
}
.box-search--icon.theme{
  cursor: pointer;
  padding: 12px;
  margin-right: 0;
  border-radius: 50%;
}
.box-search--icon.theme:hover{
  background-color: #e6e7e8;
}
.box-search--input {
  border: none;
  outline: none;
  width: 100%;
  padding: 0;
}
.box-search--input::placeholder{
  color: #889696;
}