.card-item--day{
  font-size: 18px;
}
.this-week .subtitle-1 {
  margin-bottom: 6px;
  color: #ced4da;
}
.card-item--img {
  width: 50px;
  margin-bottom: 3px;
}
.card-item--temp{
  font-size: 18px;
}

