.weather-week {
  margin-top: 10px;
}
.weather-week--box{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 40px;
}
.week-day{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #889696;
  font-weight: 600;
  background-color: #fff;
  padding: 0 12px 10px 12px;
  border-radius: 10px;
}
.week-day--img {
  width: 60px;
}
.week-day--day{
  margin-bottom: 5px;
}
.week-day--temp{
  font-family: sans-serif;
}